parameters:
	ignoreErrors:
		-
			message: '#^Property Kocal\\PHPStanSymfonyUX\\Tests\\Rules\\TwigComponent\\PublicPropertiesShouldBeCamelCaseRule\\Fixture\\ComponentWithPrivateNonCamelCaseProperties\:\:\$is_active is unused\.$#'
			identifier: property.unused
			count: 1
			path: tests/Rules/TwigComponent/PublicPropertiesShouldBeCamelCaseRule/Fixture/ComponentWithPrivateNonCamelCaseProperties.php

		-
			message: '#^Property Kocal\\PHPStanSymfonyUX\\Tests\\Rules\\TwigComponent\\PublicPropertiesShouldBeCamelCaseRule\\Fixture\\ComponentWithPrivateNonCamelCaseProperties\:\:\$user_name is unused\.$#'
			identifier: property.unused
			count: 1
			path: tests/Rules/TwigComponent/PublicPropertiesShouldBeCamelCaseRule/Fixture/ComponentWithPrivateNonCamelCaseProperties.php

		-
			message: '#^Method Kocal\\PHPStanSymfonyUX\\Tests\\Rules\\TwigComponent\\MethodsShouldBePublicOrPrivateRule\\Fixture\\ComponentWithPublicAndPrivateMethods\:\:privateMethod\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: tests/Rules/TwigComponent/MethodsShouldBePublicOrPrivateRule/Fixture/ComponentWithPublicAndPrivateMethods.php

		-
			message: '#^Method Kocal\\PHPStanSymfonyUX\\Tests\\Rules\\TwigComponent\\MethodsShouldBePublicOrPrivateRule\\Fixture\\LiveComponentWithPublicAndPrivateMethods\:\:privateMethod\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: tests/Rules/TwigComponent/MethodsShouldBePublicOrPrivateRule/Fixture/LiveComponentWithPublicAndPrivateMethods.php
