parameters:
    level: max

    paths:
        - src
        - tests

    ignoreErrors:
        -
            paths:
                - tests/**/Fixture/*
            identifiers:
                - method.unused
                - missingType.iterableValue
                - property.unused
