parameters:
    level: max

    paths:
        - src
        - tests

    ignoreErrors:
        -
            paths:
                - tests/**/Fixture/*
            identifiers:
                - argument.type
                - method.unused
                - missingType.iterableValue
                - missingType.property
                - property.unused
